<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
    
    <body>
        
        <%- include('./partials/header') %>
        <br>
        <main>
            <div class="container">
                <section>
                    <h2>Productos</h2>
                    <a href="/products">Ver mas</a>
                    <div class="product-container">
                        <div class="products-cards-container">
                            <a href="/">
                                <article class="product-card">
                                        <figure class="product-card-image-container">
                                            <img src="/images/phones/galaxy_s21.webp" alt="Galaxy S21">
                                        </figure>
                                        <section class="product-card-info">
                                            <header>
                                                <h4>Galaxy S21</h4>
                                                <h5>$200.000</h5>
                                            </header>
                                            <form action="/home" method="POST">
                                                <button class="btn-add-cart">Añadir al carrito</button>
                                            </form>
                                        </section>
                                </article>
                            </a>
                            <a href="/">
                                <article class="product-card">
                                        <figure class="product-card-image-container">
                                            <img src="/images/phones/galaxy_s21.webp" alt="Galaxy S21">
                                        </figure>
                                        <section class="product-card-info">
                                            <header>
                                                <h4>Galaxy S21</h4>
                                                <h5>$200.000</h5>
                                            </header>
                                            <form action="/home" method="POST">
                                                <button class="btn-add-cart">Añadir al carrito</button>
                                            </form>
                                        </section>
                                </article>
                            </a>
                            <a href="/">
                                <article class="product-card">
                                        <figure class="product-card-image-container">
                                            <img src="/images/phones/galaxy_s21.webp" alt="Galaxy S21">
                                        </figure>
                                        <section class="product-card-info">
                                            <header>
                                                <h4>Galaxy S21</h4>
                                                <h5>$200.000</h5>
                                            </header>
                                            <form action="/home" method="POST">
                                                <button class="btn-add-cart">Añadir al carrito</button>
                                            </form>
                                        </section>
                                </article>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <br>
        <hr>
        <br>
        <%- include('./partials/footer') %>

    </body>
</html>