<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>
    <br>
    <main>
        <div class="container">
            <h2>Acerca de TechHub</h2>
            <p>TechHub es tu destino número uno para productos de tecnología de alta calidad a precios competitivos. Desde teléfonos inteligentes hasta portátiles, desde cámaras hasta accesorios, tenemos todo lo que necesitas para estar a la vanguardia de la tecnología.</p>
            <p>Nuestro equipo está compuesto por expertos en tecnología apasionados que están aquí para ayudarte a encontrar los productos adecuados para tus necesidades. Ya sea que estés buscando actualizar tu teléfono o mejorar tu experiencia de juego, estamos aquí para hacer que tu experiencia de compra sea perfecta.</p>
            <p>En TechHub, la satisfacción del cliente es nuestra máxima prioridad. Nos esforzamos por brindar un servicio excepcional en cada etapa del proceso de compra, desde la navegación por nuestro sitio web hasta la entrega rápida y segura de tu pedido. ¡Únete a la familia TechHub hoy!</p>
        </div>
    </main>
    <br>
    <hr>
    <br>
    <%- include('../partials/footer') %>

</body>
</html>